<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexfly.system.mapper.AppConfigMapper">
  <resultMap id="BaseResultMap" type="com.nexfly.system.model.AppConfig">
    <id column="config_id" property="configId" />
    <result column="app_id" property="appId" />
    <result column="org_id" property="orgId" />
    <result column="pre_prompt" property="prePrompt" />
    <result column="form_variable" property="formVariable" />
    <result column="empty_response" property="emptyResponse" />
    <result column="prologue" property="prologue" />
    <result column="quote" property="quote" />
    <result column="file_upload" property="fileUpload" />
    <result column="text_to_speech" property="textToSpeech" />
    <result column="speech_to_text" property="speechToText" />
    <result column="similarity_threshold" property="similarityThreshold" />
    <result column="top_n" property="topN" />
    <result column="vector_similarity_weight" property="vectorSimilarityWeight" />
    <result column="create_at" property="createAt" />
    <result column="create_by" property="createBy" />
    <result column="update_at" property="updateAt" />
    <result column="update_by" property="updateBy" />
  </resultMap>
  <sql id="Vo_Column_List">
    `config_id`,`app_id`,`org_id`,`create_at`,`create_by`,`update_at`,`update_by`,`pre_prompt`,`form_variable`,`empty_response`,`prologue`,`quote`,`file_upload`,`text_to_speech`,`speech_to_text`,`similarity_threshold`,`top_n`,`vector_similarity_weight`
  </sql>
  <insert id="save">
    insert into app_config (`config_id`,`app_id`,`org_id`,`create_by`,`update_by`,`pre_prompt`,`form_variable`,`empty_response`,`prologue`,`quote`,`file_upload`,`text_to_speech`,`speech_to_text`,`similarity_threshold`,`top_n`,`vector_similarity_weight`) values (#{appConfig.configId},#{appConfig.appId},#{appConfig.orgId},#{appConfig.createBy},#{appConfig.updateBy},#{appConfig.prePrompt},#{appConfig.formVariable},#{appConfig.emptyResponse},#{appConfig.prologue},#{appConfig.quote},#{appConfig.fileUpload},#{appConfig.textToSpeech},#{appConfig.speechToText},#{appConfig.similarityThreshold},#{appConfig.topN},#{appConfig.similarityThreshold})
  </insert>
  <update id="update">
    update app_config
    <set>
      <if test="appConfig.appId != null">
        app_id = #{appConfig.appId,jdbcType=BIGINT},
      </if>
      <if test="appConfig.orgId != null">
        org_id = #{appConfig.orgId,jdbcType=BIGINT},
      </if>
      <if test="appConfig.prePrompt != null">
        pre_prompt = #{appConfig.prePrompt,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.formVariable != null">
        form_variable = #{appConfig.formVariable,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.emptyResponse != null">
        empty_response = #{appConfig.emptyResponse,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.prologue != null">
        prologue = #{appConfig.prologue,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.quote != null">
        quote = #{appConfig.quote,jdbcType=INTEGER},
      </if>
      <if test="appConfig.fileUpload != null">
        file_upload = #{appConfig.fileUpload,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.textToSpeech != null">
        text_to_speech = #{appConfig.textToSpeech,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.speechToText != null">
        speech_to_text = #{appConfig.speechToText,jdbcType=VARCHAR},
      </if>
      <if test="appConfig.similarityThreshold != null">
        similarity_threshold = #{appConfig.similarityThreshold,jdbcType=FLOAT},
      </if>
      <if test="appConfig.topN != null">
        top_n = #{appConfig.topN,jdbcType=INTEGER},
      </if>
      <if test="appConfig.vectorSimilarityWeight != null">
        vector_similarity_weight = #{appConfig.vectorSimilarityWeight,jdbcType=FLOAT},
      </if>
      <if test="appConfig.createAt != null">
        create_at = #{appConfig.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="appConfig.createBy != null">
        create_by = #{appConfig.createBy,jdbcType=BIGINT},
      </if>
      <if test="appConfig.updateAt != null">
        update_at = #{appConfig.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="appConfig.updateBy != null">
        update_by = #{appConfig.updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where config_id = #{appConfig.configId,jdbcType=BIGINT}
     
  </update>
  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Vo_Column_List"/> from app_config where config_id = #{configId}
  </select>
    <select id="findByAppId" resultMap="BaseResultMap">
      select <include refid="Vo_Column_List"/> from app_config where app_id = #{appId}
    </select>
</mapper>