<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexfly.system.mapper.DatasetMapper">
  <resultMap id="BaseResultMap" type="com.nexfly.system.model.Dataset">
    <id column="dataset_id" property="datasetId" />
    <result column="org_id" property="orgId" />
    <result column="name" property="name" />
    <result column="description" property="description" />
    <result column="embed_model_id" property="embedModelId" />
    <result column="vs_index_node_id" property="vsIndexNodeId" />
    <result column="create_at" property="createAt" />
    <result column="create_by" property="createBy" />
    <result column="update_at" property="updateAt" />
    <result column="update_by" property="updateBy" />
  </resultMap>
  <sql id="Vo_Column_List">
    `dataset_id`,`org_id`,`name`,`description`,`embed_model_id`,`vs_index_node_id`,`create_at`,`create_by`,`update_at`,`update_by`
  </sql>
  <insert id="save">
    insert into dataset (`dataset_id`,`org_id`,`name`,`description`,`embed_model_id`,`vs_index_node_id`,`create_by`,`update_by`) values (#{dataset.datasetId},#{dataset.orgId},#{dataset.name},#{dataset.description},#{dataset.embedModelId},#{dataset.vsIndexNodeId},#{dataset.createBy},#{dataset.updateBy})
  </insert>
  <update id="update">
    update dataset
    <set>
      <if test="dataset.orgId != null">
        org_id = #{dataset.orgId,jdbcType=BIGINT},
      </if>
      <if test="dataset.name != null">
        name = #{dataset.name,jdbcType=VARCHAR},
      </if>
      <if test="dataset.description != null">
        description = #{dataset.description,jdbcType=VARCHAR},
      </if>
      <if test="dataset.embedModelId != null">
        embed_model_id = #{dataset.embedModelId,jdbcType=BIGINT},
      </if>
      <if test="dataset.vsIndexNodeId != null">
        vs_index_node_id = #{dataset.vsIndexNodeId,jdbcType=BIGINT},
      </if>
      <if test="dataset.createAt != null">
        create_at = #{dataset.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dataset.createBy != null">
        create_by = #{dataset.createBy,jdbcType=BIGINT},
      </if>
      <if test="dataset.updateAt != null">
        update_at = #{dataset.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="dataset.updateBy != null">
        update_by = #{dataset.updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where dataset_id = #{dataset.datasetId,jdbcType=BIGINT}
     
  </update>
  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Vo_Column_List"/> from dataset where dataset_id = #{datasetId}
  </select>
  <select id="findDatasetListByAppId" resultType="com.nexfly.system.model.Dataset">
    select d.* from app_dataset ad
    left join dataset d on ad.dataset_id = d.dataset_id
    where ad.app_id = #{appId}
  </select>
    <select id="findDatasetList" resultType="com.nexfly.system.model.Dataset">
      select * from dataset d where d.create_by = #{userId} order by d.update_at desc;
    </select>
</mapper>