<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexfly.system.mapper.DocumentMapper">
  <resultMap id="BaseResultMap" type="com.nexfly.system.model.Document">
    <id column="document_id" property="documentId" />
    <result column="org_id" property="orgId" />
    <result column="dataset_id" property="datasetId" />
    <result column="file_id" property="fileId" />
    <result column="name" property="name" />
    <result column="data_source" property="dataSource" />
    <result column="word_count" property="wordCount" />
    <result column="token_count" property="tokenCount" />
    <result column="data_url" property="dataUrl" />
    <result column="process_type" property="processType" />
    <result column="process_status" property="processStatus" />
    <result column="status" property="status" />
    <result column="create_at" property="createAt" />
    <result column="create_by" property="createBy" />
    <result column="update_at" property="updateAt" />
    <result column="update_by" property="updateBy" />
  </resultMap>
  <sql id="Vo_Column_List">
    `document_id`,`org_id`,`dataset_id`,`file_id`,`name`,`data_source`,`word_count`,`token_count`,`data_url`,`process_type`,`process_status`,`status`,`create_at`,`create_by`,`update_at`,`update_by`
  </sql>
  <insert id="save" useGeneratedKeys="true" keyProperty="documentId" keyColumn="document_id" parameterType="com.nexfly.system.model.Document">
    insert into document (`org_id`,`dataset_id`,`file_id`,`name`,`data_source`,`word_count`,`token_count`,`data_url`,`process_type`,`process_status`,`status`,`create_by`,`update_by`) values (#{document.orgId},#{document.datasetId},#{document.fileId},#{document.name},#{document.dataSource},#{document.wordCount},#{document.tokenCount},#{document.dataUrl},#{document.processType},#{document.processStatus},#{document.status},#{document.createBy},#{document.updateBy})
  </insert>
  <update id="update">
    update document
    <set>
      <if test="document.orgId != null">
        org_id = #{document.orgId,jdbcType=BIGINT},
      </if>
      <if test="document.datasetId != null">
        dataset_id = #{document.datasetId,jdbcType=BIGINT},
      </if>
      <if test="document.fileId != null">
        file_id = #{document.fileId,jdbcType=BIGINT},
      </if>
      <if test="document.name != null">
        name = #{document.name,jdbcType=VARCHAR},
      </if>
      <if test="document.dataSource != null">
        data_source = #{document.dataSource,jdbcType=INTEGER},
      </if>
      <if test="document.wordCount != null">
        word_count = #{document.wordCount,jdbcType=INTEGER},
      </if>
      <if test="document.tokenCount != null">
        token_count = #{document.tokenCount,jdbcType=INTEGER},
      </if>
      <if test="document.dataUrl != null">
        data_url = #{document.dataUrl,jdbcType=VARCHAR},
      </if>
      <if test="document.processType != null">
        process_type = #{document.processType,jdbcType=VARCHAR},
      </if>
      <if test="document.processStatus != null">
        process_status = #{document.processStatus,jdbcType=INTEGER},
      </if>
      <if test="document.status != null">
        status = #{document.status,jdbcType=INTEGER},
      </if>
      <if test="document.createAt != null">
        create_at = #{document.createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="document.createBy != null">
        create_by = #{document.createBy,jdbcType=BIGINT},
      </if>
      <if test="document.updateAt != null">
        update_at = #{document.updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="document.updateBy != null">
        update_by = #{document.updateBy,jdbcType=BIGINT},
      </if>
    </set>
    where document_id = #{document.documentId,jdbcType=BIGINT}
     
  </update>
    <delete id="deleteByDocumentIds">
      delete from document
      where document_id in
      <foreach collection="documentIds" item="documentId" open="(" separator="," close=")">
        #{documentId}
      </foreach>
    </delete>
  <select id="findById" resultMap="BaseResultMap">
    select <include refid="Vo_Column_List"/> from document where document_id = #{documentId}
  </select>
  <select id="findDocumentListByDatasetId" resultType="com.nexfly.system.model.Document">
    select * from document where dataset_id = #{datasetId}
  </select>
    <select id="getCountByDatasetId" resultType="java.lang.Long">
      select count(1) from document where dataset_id = #{datasetId}
    </select>
</mapper>